.side_content { font-size:x-small;}
.directory { font-size:x-small;}
.directory h3 { margin: 0px; margin-top: 1em; font-size: 9pt; }
.directory p { margin: 0px; white-space: nowrap; }
.directory div { display: none; margin: 0px; }
.directory img { vertical-align: middle; }
.menu { white-space: nowrap; font-size: 9pt; }
.searchword{background-color:yellow;}
